<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/signup.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form oninput='p2.setCustomValidity(p2.value != p1.value ? "Passwords do not match." : "")' action="/signup/post" method="POST">
    <img class="mb-4" src="images/logo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

    <div class="form-floating">
      <input type="name" class="form-control" name="name" placeholder="Your Name" id="Fname" required>
    </div>
    <div class="form-floating">
      <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" placeholder="name@example.com" id="Femail" required>
    </div>
    <div class="form-floating">
      <input type="mobile" name="mobile" class="form-control" placeholder="Mobile Number" id="Fmobile" required>
    </div>
    <div class="form-floating">
      <input type="password"  name="password" class="form-control"  placeholder="Password" id="Fpassword" required>
    </div>
    <div class="form-floating">
      <input type="password"  name="p2" class="form-control" placeholder="Repeat Password" id="Frptpassword" required>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="signUpBtn" >Sign Up</button>
  </form>
</main>


    
  </body>
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
 <!-- <script type="text/javascript">
  $('#signUpBtn').click(function(event){
    console.log("Button clicked");
         event.preventDefault();
         console.log($("#Fname").val());
         console.log($("#Femail").val());
         console.log($("#Fmobile").val());
         console.log($("#Fpassword").val());
         $.ajax({
            global:false,
            type: 'POST',
            url : '/signup/post',
            dataType:'html',
            data :{
                name:$("#Fname").val(),
                email:$("#Femail").val(),
                mobile:$("#Fmobile").val(),
                password:$("#Fpassword").val()
            },
            success:function(result){
                var message=JSON.parse(result);
                console.log(message.msg);
                alert(message.msg);
            },
            error:function(request,status,error){
                alert("Some error occured. Please submit the form again");
                console.log("Error occured");
            }
         });
     });
  </script> -->
</html>
