<!DOCTYPE html>
<html lang="en">
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/login1.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
    <header>
        <div class="container">
            {{> loginPartialLayout}}
        </div>
    </header>
    <article class="container">
        <div class="row">
            {{> contactusPartialLayout}}
            {{> signUpPartialLayout}}
        </div>
    </article>
    {{> signUpFooter}}

{{#if session.error}}
<script type="text/javascript">
alert("{{session.error}}");
</script>
{{/if}}
{{> ajaxContactUsScript}}
</body>

</html>