<div class='col-sm-8'>
  <div class='login-main'>
    <section class='mb-4'>

      <h2 class='h1-responsive font-weight-bold text-center my-4'>Contact us</h2>
      <p class='text-center w-responsive mx-auto mb-5'>Do you have any
        questions? Please do not hesitate to contact us directly. Our team will
        come back to you within a matter of hours to help you.</p>

      <div class='row'>

        <div class='col-md-9 mb-md-0 mb-5'>
          <form id='contactForm' name='contact-form'>

            <div class='row'>

              <div class='col-md-6'>
                <div class='md-form mb-0'>
                  <input
                    class='form-control'
                    name='name'
                    id='formName'
                    type='text'
                    required
                  />
                  <label for='name' class=''>Your name</label>
                </div>
              </div>

              <div class='col-md-6'>
                <div class='md-form mb-0'>
                  <input
                    type='text'
                    id='formEmail'
                    name='email'
                    class='form-control'
                    required
                  />
                  <label for='email' class=''>Your email</label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12'>
                <div class='md-form mb-0'>
                  <input
                    class='form-control'
                    type='text'
                    name='mobile'
                    id='formMobile'
                    required
                  />
                  <label for='Mobile' class=''>Mobile</label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12'>
                <div class='md-form'>
                  <textarea
                    type='text'
                    id='formMessage'
                    name='message'
                    rows='2'
                    class='form-control md-textarea'
                    required
                  ></textarea>
                  <label for='message'>Your message</label>
                </div>
              </div>
            </div>
          </form>

          <div class='text-center text-md-left'>
            <button
              class='btn btn-primary'
              type='button'
              id='SendBtn'
            >Send</button>
          </div>
          <div class='status'></div>
        </div>
      </div>

    </section>
  </div>
</div>