<div id="fruits" class="section dark_bg layout_padding left_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/wood_coal.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Wood Charcoal<br><strong class="theme_blue">High GCV</strong></h3>
                    </div>   
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/hard_coal.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Hard Coal<br><strong class="theme_blue">High GCV</strong></h3>
                    </div>
                </div>
                <div class="col-md-4 margin_top_30">
                    <div class="full fr">
                        <img class="img-responsive" src="images/soft_coal.png" alt="#" />
                    </div>
                    <div class="full text_align_center">
                        <h3 class="white_font">Soft Coal<br><strong class="theme_blue">High GCV</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>