<div class="card-footer">
    <div class="d-flex post-actions">
        <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <p class="d-none d-md-block ml-2">Like</p>
        </a>
        <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <p class="d-none d-md-block ml-2">Comment</p>
        </a>
        <a href="javascript:;" class="d-flex align-items-center text-muted">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <p class="d-none d-md-block ml-2">Share</p>
        </a>
    </div>
</div>