<div class="cover">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="images/bg1.jpg" class="img-fluid" alt="profile cover">
                    </figure>
                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>
                            <img class="profile-pic" src="images/avatar6.png" alt="profile">
                            <span class="profile-name">{{user.fName}} {{user.lName}}</span>
                        </div>
                        <div class="d-none d-md-block">
                            <button class="btn btn-primary btn-icon-text btn-edit-profile">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit profile
                            </button>
                             <a href="/logout">
                            <button class="btn btn-primary btn-icon-text btn-edit-profile">
                               <i class="fa fa-circle-o" aria-hidden="true"></i> Logout
                            </button>
                            </a>
                        </div>
                    </div>
                </div>