<footer class="container">
    <hr>
    <div class="footer-options">
        <ul >
            <li><a href="#">Mobile : {{session.signUpError}}</li>
            <li><a href="#">Find Friends</li>
            <li><a href="#">Badges</li>
            <li><a href="#">People</li>
            <li><a href="#">Pages</li>
            <li><a href="#">Places</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <small class="copyrights"> © Copyrights reserved  2014</small>
</footer>